.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px 0;
}

.App-link {
  color: #09d3ac;
}

.theCopy {
    margin: 40px auto 0;
}

.theCopy > span {
    display: block;
    text-align: center;
    font-size: 70px;
    line-height: 120px;
    width: 120px;
    height: 120px;
}
